pkgbase = wlrandbg
	pkgdesc = A desktop background image tool with random image cycling for wlroots compositors.
	pkgver = 0.0.2
	pkgrel = 2
	url = https://github.com/trent-8/wlrandbg
	arch = any
	license = MIT
	depends = python
	depends = swaybg
	source = wlrandbg.py
	sha256sums = SKIP

pkgname = wlrandbg
